.nav {
  display: flex;
  background-color: rgb(6, 172, 6);
  color: white;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

.homepage, .about, .dashboard, .stocks {
  padding: 15px;
  font-size: 20px;
}
